* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "" ;
}

html {
	overflow-x: hidden;
}

body {
	background: #F1F0F6;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.logo {
 	position: relative;
 	max-width: 80px;
 }

 /*SIDE-BAR*/

#sideBar {
	position: fixed;
 	max-width: 260px;
 	width: 100%;
 	background: #fff;
 	top: 0;
 	left: 0;
 	height: 100%;
 	overflow-y: auto;
 	scrollbar-width: none;
 	transition: all .3s ease;
 	z-index: 200;
}

#sideBar.hide {
	max-width: 60px;
}

#sideBar.hide:hover {
	max-width: 260pxs;
}

#sideBar::-webkit-scrollbar {
	display: none;
}

#sideBar .brand {
	font-size: 24px;
	display: flex;
	align-items: center;
	height: 64px;
	font-weight: 700;
	color: #1775F1;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background: #fff;
	transition: all .3s ease;
	padding: 0 6px;
}

#sideBar i{
	min-width: 48px;
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: column;
	margin-right: 6px;
}

#sideBar .Icon {
	margin-left: auto;
	transition: all .3s ease;
}

#sideBar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
	transition: all .3s ease;
}

#sideBar.hide .side-menu {
	padding: 0 6px;

}

#sideBar .side-menu a {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #000;
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}

#sideBar .side-menu > li > a:hover {
	background: #F1F0F6;
}

#sideBar .side-menu > li > a.active .Icon {
	transform: rotateZ(90deg);
}

#sideBar .side-menu > li > a.active,
#sideBar .side-menu > li > a.active:hover {
	background: #1775F1;
	color: #fff;
}

#sideBar .divider {
	margin-top: 24px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: #8D8D8D;
	transition: all .3s ease;
	white-space: nowrap;
}

#sideBar.hide .divider {
	text-align: center;
}
#sideBar .side-dropdown {
	padding-left: 54px;
	max-height: 0;
	overflow-y: hidden;
	transition: all .15s ease;
}

#sideBar .side-dropdown.show {
	max-height: 1000px;
}

#sideBar .side-dropdown a:hover {
	color: #1775F1;
}

/*SIDE BAR END*/


/*CONTENT*/
#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}

#sideBar.hide + #content {
	width: calc(100% - 60px);
	left: 60px;
}
/*CONTENT END*/

/*NAVIGATION BAR*/
nav {
	background: #fff;
	height: 64px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	grid-gap: 28px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}

nav .toggle-sidebar {
	font-size: 18px;
	cursor: pointer;
}

nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}

nav .form-group {
	position: relative;
}

nav .form-group input {
	width: 100%;
	background: #F1F0F6;
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 10px 36px 10px 16px;
}

nav .form-group input:focus {
	box-shadow: 0 0 0 1px #1775F1, 0 0 0 4px #D0E4FF;
}

nav .form-group .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: #8D8D8D;
}

nav .nav-link {
	position: relative;
	justify-content: space-around;
	align-items: center;
}

nav .nav-link .icon {
	font-size: 18px;
	color: #000;
}

nav .divider {
	width: 1px;
	background: #F1F0F6;
	height: 12px;
	display: block;
}

nav .profile {
	position: relative;
}

nav .profile img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

nav .profile .profile-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	background: #fff;
	padding: 10px 0;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	border-radius: 10px;
	width: 160px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}

nav .profile .profile-link.show {
	opacity: 1;
	pointer-events: visible;
	top: 100%;
}

nav .profile .profile-link a {
	padding: 10px 16px;
	display: flex;
	grid-gap: 10px;
	font-size: 14px;
	color: #000;
	align-items: center;
	transition: all .3s ease;
}

nav .profile .profile-link a:hover {
	background: #F1F0F6;
}

/*NAVIGATION BAR END*/


/*MAIN*/
main {
	width: 100%;
	padding: 24px 20px 20px 20px;
}

main .title {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 10px;
}

main .breadcrumbs {
	display: flex;
	grid-gap: 6px;
}

main .breadcrumbs li,
main .breadcrumbs li a {
	font-size: 14px;
}

main .breadcrumbs li a {
	color: #1775F1;
}

main .breadcrumbs li a.active,
main .breadcrumbs li a.divider {
	color: #8D8D8D;
	pointer-events: none;
}

main .info-data {
	display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}

main .info-data .card {
	width: 500px;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
}

input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}

input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}

main .password {
	width: 70%;
	display: flex;
	flex-direction: column;
	margin: auto;
}

main .current_password {
  font-size: 12px;
  color: #555;
  margin-bottom: 6px;
  margin-top: 24px;
}

@media screen and (max-width: 768px) {
	#content {
		position: relative;
		width: calc(100% - 60px);
		transition: all .3s ease;
	}
	nav .nav-link,
	nav .divider {
		display: none;
	}
}