*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-image: url('people-hand.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.container {
	position: relative;
	width: 70vw;
	height: 80vh;
	background: #2F2FA2;
	border-radius: 15px;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.container:before {
	content: "";
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: linear-gradient(-45deg, #f64C72, #2F2FA2);
	z-index: 6;
	transform: translateX(100%);
	transition: 1s ease-in-out;
}

.signin-signup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 5;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 40%;
	min-width: 238px;
	padding: 0 10px;
}

form.sign-in-form {
	opacity: 1;
	transition: 0.5s ease-in-out;
	transition-delay: 1s;
}

.signin-signup form.sign-in-form select,
.signin-signup form.sign-up-form select {
	width: 100%;
	height: 50px;
	padding: 10px 15px;
	background: #f0f0f0;
	font-size: 17px;
	margin: 8px 0;
	border: 1px solid #f64C72;
	border-radius: 40px;
	display: flex;
	align-items: center;
}