@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap");

*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	font-family: 'Montserrat', sans-serif;
}

section {
	height: 100vh;
	width: 100%;
	padding: 100px;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}

.logo {
 	position: relative;
 	max-width: 80px;
 }

/*NAVIGATION BAR*/



h1 {
	text-align: center;
	font-size: 4em;
	color: white;
}

.navwrapper {
	display: flex;
	width: 100%;
	height: 60px;
	background-color: #2B4865;
	position: fixed;
	top: 0;
	left: 0;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, .1);

}

.navigation {
	display: flex;
	list-style: none;
	width: 40%;
	justify-content: space-around;
}

.nav {
	list-style-type: none;
}

.nav:hover {
	background-color: #fff;
	border-radius: 20px;
	transition: all ease-in-out .25s;
}

.nav:hover > a {
	color: #202040;
}

.navlink {
	color: #fff;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: 400;
}

/*NAVIGATION BAR END*/


/*HOME*/
.contentwrapper {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	background-color: #5DA7DB;
}

.content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content .textBox {
	max-width: 600px;
}

.content .textBox h2 {
	color: #000;
	text-transform: uppercase;
	text-align: center;
	font-size: 4em;
	line-height: 1.4em;
	font-weight: 500;
}

.content .textBox h2 span {
	color: #000;
	font-size: 1.2em;
	font-weight: 900;
}

.content .textBox p {
	color: #000;
	text-align: center;
	font-size: 1.3em;
	font-weight: 500;
}
.content .textBox a {
	display: inline-block;
	margin-top: 20px;
	margin-left: 260px;
	padding: 8px 20px;
	background: #256D85;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
}

/*HOME END*/


/*ABOUT US*/

.container_tentangkami {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: #5DA7DB;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.mx800p {
	max-width: 800px;
	margin: 0 auto;
}

h3 {
	font-size: 40px;
	font-weight: 200;
	margin-bottom: 10px;
	color: #000;
}

p {
	position: relative;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 20px;
	letter-spacing: 1px;
	color: #000;
}

.tki {
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	background: #256D85;
	text-decoration: none;
	color: #fff;
}

/*ABOUT US END*/


/*HOW TO REPORT*/

.container_caralapor {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 10px;
	margin-top: 40px;
	background-color: #5DA7DB;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.caralpr .box {
	width: 100%;
	margin: 0 auto;
	padding: 15px;
}

.caralpr .box .icon {
	margin-top: 25px;
	transition: 0.5s;
	color: #000;
}

.title  {
	margin: 5px;
}

.caralpr .box .icon:hover {
	background: #A5C9CA;
}

.caralpr .box .icon img {
	max-width: 70px;
	margin-bottom: 15px;
	filter: invert(20%);
}

/*HOW TO REPORT END*/


/*CONTACT*/

.kontak {
	padding: 50px 100px
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #5DA7DB;
}

.kontak .container_kontak {
	max-width: 800px;
	text-align: center;
}


.kontak .container_kontak h2 {
	font-size: 36px;
	font-weight: 500;
	color: #000;
}

.kontak .container_kontak p {
	font-weight: 300;
}

.container_contact {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.container_contact .contactInfo {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.container_contact .contactInfo .box {
	position: relative;
	padding: 20px 0;
	display: flex;
}

.container_contact .contactInfo .box .Icon {
	min-width: 60px;
	height: 60px;
	background: #2B4865;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}

.container_contact .contactInfo .box .Icon img {
	filter: invert(1);
}

.container_contact .contactInfo .box .text {
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	font-weight: 300;
	flex-direction: column;
	color: #000000
}

.container_contact .contactInfo .box .text h3 {
	font-weight: 500;
	color: 	#000;
	font-size: 1.6em;
}

.contactform {
	width: 40%;
	padding: 40px;
	background: #1C658C;
}

.contactform h2 {
	font-size: 30px;
	color: #fff;
	font-weight: 500;
}

.contactform .inputBox {
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.contactform .inputBox input,
.contactform .inputBox textarea {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	outline: none;
	resize: none;
	border-bottom: 1px solid #333
}

.contactform .inputBox span {
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	color: #666; 
	pointer-events: none;
	transition: 0.5s;
}

.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span{
	color: #DFF6FF;
	font-size: 12px;
	transform: translateY(-20px);
}

.contactform .inputBox input[type="submit"] {
	width: 100px;
	background: #06283D;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

.rapper {
	position: absolute;
	width: 90%;
	height: 100%;
	overflow: hidden;
}

.bx div {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: 6px solid rgba(255, 255, 255, 0.8);
}

.bx div:nth-child(1) {
	top: 12%;
	left: 42%;
	animation: animate 10s linear infinite;
}

.bx div:nth-child(2) {
	top: 70%;
	left: 50%;
	animation: animate 7s linear infinite;
}

.bx div:nth-child(3) {
	top: 17%;
	left: 6%;
	animation: animate 9s linear infinite;
}

.bx div:nth-child(4) {
	top: 20%;
	left: 60%;
	animation: animate 10s linear infinite;
}

.bx div:nth-child(5) {
	top: 67%;
	left: 10%;
	animation: animate 6s linear infinite;
}

.bx div:nth-child(6) {
	top: 80%;
	left: 70%;
	animation: animate 12s linear infinite;
}

.bx div:nth-child(7) {
	top: 60%;
	left: 80%;
	animation: animate 15s linear infinite;
}

.bx div:nth-child(8) {
	top: 32%;
	left: 25%;
	animation: animate 16s linear infinite;
}

.bx div:nth-child(9) {
	top: 90%;
	left: 25%;
	animation: animate 9s linear infinite;
}

.bx div:nth-child(10) {
	top: 20%;
	left: 80%;
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: scale(0) translateY(0) rotate(0);
		opacity: 1;
	}

	100% {
		transform: scale(1.3) translateY(-90px) rotate(360deg);
		opacity: 0;
	}
}

@media (max-width: 991px) {
	.kontak
	{
		padding: 50px;
	}

	.container_contact
	{
		flex-direction: column;
	}

	.container_contact .contactInfo
	{
		margin-bottom: 40px;
	}

	.container_contact .contactInfo,
	.contactform
	{
		width: 100%;
	}
}

/*CONTACT END*/
